body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

label {
  font-weight: bold;
}

input {
  width: 80px;
  margin-right: 10px;
  text-align: center;
}

button {
  padding: 5px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#loading-spinner {
  color: #007BFF;
  font-weight: bold;
}

#map {
  flex-grow: 1;
  width: 100%;
  border: 1px solid #ccc;
}

#station-list {
  height: 40%;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

.station-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.station-card h3 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #333;
}

.station-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.station-card button {
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.station-card button:hover {
  background-color: #218838;
}

/* Estilos para pantallas grandes (por defecto) */
#map {
  flex-grow: 1;
  width: 100%;
  border: 1px solid #ccc;
}

#station-list {
  height: 40%;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  #map {
    height: 50%; /* Ajustar la altura del mapa en móviles */
  }

  #station-list {
    height: 50%; /* Ajustar la lista para ocupar el resto del espacio */
  }
}

@media (max-width: 480px) {
  #map {
    height: 40%; /* Reducir aún más para pantallas muy pequeñas */
  }

  #station-list {
    height: 60%; /* Más espacio para la lista */
  }
}


